.App {
  text-align: center;
}

.App-logo {
  height: 40ex;
  pointer-events: none;
}
.Header{
  height: 125vm;
  color: #61dafb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 3vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
Button{
  margin-top: 1vh;
  width: 10vmax;
}
li{
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
